<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client's Orders</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
<table>
  <h2>Client's orders</h2>
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Client</th>
        <th>Driver</th>
        <th>Car</th>
        <th>Start address</th>
        <th>Finish address</th>
        <th>Passengers</th>
        <th>Distance</th>
        <th>Average consumption</th>
        <th>Price</th>
      </tr>
  </thead>
  <tbody>
  <tr th:each="cl : ${client}">
    <td th:text="${cl.id}"></td>
    <td th:text="${cl.showDate()}"></td>
    <td th:text="${cl.client.toString()}"></td>
    <td th:text="${cl.driver.toString()}"></td>
    <td th:text="${cl.driver.car.showCar()}"></td>
    <td th:text="${cl.start}"></td>
    <td th:text="${cl.finish}"></td>
    <td th:text="${cl.passengers}"></td>
    <td th:text="${cl.dist}"></td>
    <td th:text="${cl.consumption}"></td>
    <td th:text="${cl.showPrice()}"></td>
  </tr>
  </tbody>
  </table>
  </form>
</body>
</html>