<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
<th>First Name</th>
<th>Last Name</th>
<th>Age</th>
<th>Experience</th>
<th>Phone number</th>
<th>tariff</th>
<th>Delete</th>
<th>Edit</th>
  <form action="new" method="post">
    <label for="fname">First Name</label>
    <input type="text" name="first_name" id="fname"></br>
    <label for="lname">Last Name</label>
    <input type="text" name="last_name" id="lname"></br>
    <label for="age">Age</label>
    <input type="text" name="age" id="age"></br>
    <label for="exp">Experience</label>
    <input type="text" name="exp" id="exp"></br>
    <label for="age">tariff</label>
    <input type="text" name="tariff" id="tariff"></br>
    <label for="phone">Phone number</label>
    <input type="text" name="phone" id="phone"></br>
    <input type="submit" value="Add">
  </form>
</body>
</html>