<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>
<div class="centre"><h1>Hello guest!</h1></div>
<div class="centre"><h2>Choose user:</h2></div>
<div class="buttons centre">
    <div><button onclick="location.href='clients'" class="button"><h1>Client</h1></button></div>
    <div><button onclick="location.href=''" class="button"><h1>Driver</h1></button></div>
</div>
</body>
</html>